<h4 *ngIf="!auth" class="HomeTittle">Brukerinnlogging</h4>
<h4 *ngIf="auth" class="HomeTittle">Velkommen</h4>

<br />
<div class="card text-center NewUserPanel" *ngIf="!auth">
    <div class="card-header success-color white-text">
        Featured
    </div>
    <div class="card-body">
        <h4 class="card-title">Har du ikke bruker hos oss ennå?</h4>
        <p class="card-text">
            Det er raskt og enkelt
        </p>
        <a class="btn btn-success btn-sm" href="#register">Gå til registrering</a>
    </div>
    <div class="card-footer text-muted success-color white-text">
    </div>
</div>

<br />
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate *ngIf="!auth" class="logginForm">
    <p class="h5 text-center mb-4">Logg inn </p>

  <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" class="form-control" name="username" ngModel mdbActive>
      <label for="logginForm">Brukernavn</label>
  </div>
  
  <div class="md-form">
        <i class="fa fa-certificate prefix grey-text"></i>
        <input type="password" class="form-control" name="password" ngModel mdbActive>
        <label for="logginForm">passord</label>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" mdbRippleRadius>
            <i class="fa fa-send mr-1"></i> Logg inn</button>
    </div>

</form>


<hr>
<br/>
<br/>
<!--Logginn Form-->
<div class="row" *ngIf="auth">
    <div class="col-md-6">
        <button class="btn btn-primary waves-light" mdbRippleRadius>Se ordrehistorikken din:</button>
        <button class="btn btn-primary waves-light" mdbRippleRadius>Gå til en ny bestilling:</button>
    </div>

   
</div>