<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate *ngIf="!auth" class="logginForm">
    <p class="h5 text-center mb-4">Logg inn </p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="form3" class="form-control" name="username" ngModel mdbActive>
        <label for="form3">Ansatt id</label>
    </div>

    <div class="md-form">
        <i class="fa fa-dollar prefix grey-text"></i>
        <input type="password" id="form2" class="form-control" name="password" ngModel mdbActive>
        <label for="form2">Passord</label>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" mdbRippleRadius>
            <i class="fa fa-send mr-1"></i> Logg inn</button>
    </div>

</form>
<!--Logginn Form-->

<div *ngIf="auth">
    <h4>Oversikt over utstyr:</h4>
    <table class="table equipmentTable">

        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Utstyr navn:</th>
                <th>Type:</th>
                <th>Tilgjengelighet:</th>
                <th>Status:</th>
                <th>Tilgjengelig ved:</th>
                <th>pris time:</th>
                <th>pris dag:</th>
                <th>Ramme</th>
                <th>Hjulstørrelse</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            <tr *ngFor="let equipment of equipmentList; let i = index" ngModel>
                <td>{{equipment.name}}</td>
                <td>{{equipment.type}}</td>
                <td>
                    <button type="button" class="btn btn-primary relative waves-light" (click)="avaliableModal.show(); locationConfig(equipment)"
                        mdbWavesEffect>
                        Sjekk Tilgjengelighet
                    </button>
                </td>
                <td>
                    <span *ngIf="!auth">{{equipment.status}}</span>
                    <button *ngIf="auth" type="button" class="btn btn-primary relative waves-light" (click)="statusModal.show(); statusConfig(equipment)"
                        mdbWavesEffect>
                        Endre status
                    </button>
                </td>
                <td>
                    <span *ngIf="!auth">{{equipment.status}}</span>
                    <button *ngIf="auth" type="button" class="btn btn-primary relative waves-light" (click)="locationModal.show(); locationConfig(equipment)"
                        mdbWavesEffect>
                        Endre sted
                    </button>
                </td>
                <td>{{equipment.hourPrice}}</td>
                <td>{{equipment.dailyPrice}}</td>
                <td>{{equipment.frame}}</td>
                <td>{{equipment.wheelSize}}</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>

    <div mdbModal #statusModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mystatusModalLabel"
        aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="statusModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Endre status på</h4>
                </div>
                <div class="modal-body">
                    <p>{{selectedEquipmentName}}</p>
                    <p> status: {{selectedEquipmentStatus}}</p>
                    <div class="btn-group sorterBtn" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                            Endre status til: {{assignedSatus}}
                        </button>
                        <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" (click)="assignNewStatus('flytt')">
                                Flytt
                            </a>
                            <a class="dropdown-item" (click)="assignNewStatus('reparasjon')">
                                Reparasjon
                            </a>
                            <a class="dropdown-item" (click)="assignNewStatus('stjålet')">
                                Stjålet
                            </a>
                            <a class="dropdown-item" (click)="assignNewStatus('klar')">
                                Klar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="statusModal.hide()" mdbWavesEffect>Lukk</button>
                    <button type="button" class="btn btn-primary relative waves-light" (click)="updateLocationOrStatus('status')" mdbWavesEffect>Lagre endringer</button>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #avaliableModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="avaliableModalLabel"
        aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="avaliableModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Tilgjengelighet</h4>
                </div>
                <div class="modal-body">
                    <p>{{selectedEquipmentName}}</p>
                    <p>Sist sett på {{selectedEquipmentLocation.name}}</p>
                    <p>Post nummer: {{selectedEquipmentLocation.postalCode}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="avaliableModal.hide()" mdbWavesEffect>Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #locationModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
        aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="locationModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Endre sted</h4>
                </div>
                <div class="modal-body">
                    <p>{{selectedEquipmentName}}</p>
                    <p>Sist sett på {{selectedEquipmentLocation.name}}</p>
                    <p>Post nummer: {{selectedEquipmentLocation.postalCode}}</p>
                    <div class="btn-group sorterBtn" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                            Endre sted til:
                        </button>
                        <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" *ngFor="let place of placesList" (click)="assignNewPlace(place.place_id)">
                                {{place.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="locationModal.hide()" mdbWavesEffect>Lukk</button>
                    <button type="button" class="btn btn-primary relative waves-light" (click)="updateLocationOrStatus('location')" mdbWavesEffect>Lagre endringer</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <h4>Oversikt over bestillinger:</h4>
    <button type="button" class="btn btn-primary waves-light" *ngIf="!listSorted" (click)="filterForEmployee()" mdbWavesEffect>
        Filtrer etter bestillinger tildelt deg:
    </button>
    <button type="button" class="btn btn-primary waves-light" *ngIf="listSorted" (click)="fetchOrders()" mdbWavesEffect>
       Gå tilbake til original liste:
    </button>
    <br/>
    <br/>
    <table class="table equipmentTable">

        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Id:</th>
                <th>Pris:</th>
                <th>Kunde id:</th>
                <th>Ansatt id:</th>
                <th>Order dato:</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            <tr *ngFor="let order of orderList">
                <td>{{order.order_id}}</td>
                <td>{{order.price}}</td>
                <td>{{order.customer_id}}</td>
                <td>{{order.employee_id}}</td>
                <td>{{order.orderDate}}</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>