
<div class="btn-group sorterBtn" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
        Sorter etter:
    </button>

    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">Sted</a>
        <a class="dropdown-item" href="#">Tilgjengelig</a>
        <a class="dropdown-item" href="#">Ikke tilgjengelig</a>
    </div>
</div>
        
<br />

<hr>

<!--Table-->
<table class="table equipmentTable">

    <!--Table head-->
    <thead class="blue-grey lighten-4">
        <tr>
            <th>Utstyr navn:</th>
            <th>Tilgjengelighet:</th>
            <th>Status:</th>
            <th>Tilgjengelig ved:</th>
            <th>pris  time:</th>
            <th>pris dag:</th>
            <th>Ramme</th>
            <th>Hjulstørrelse</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let equipment of equipmentList">
            <td>{{equipment.name}}</td>
            <td>
                <button 
                type="button" 
                class="btn btn-primary relative waves-light" 
                (click)="statusModal.show()" 
                mdbWavesEffect
                >
                    Sjekk Tilgjengelighet
                </button>
            </td>
            <td>{{equipment.status}}</td>
            <td>{{placesList[equipment.belongsToPlace].name}}</td>
            <td>{{equipment.hourPrice}}</td>
            <td>{{equipment.dailyPrice}}</td>
            <td>{{equipment.frame}}</td>
            <td>{{equipment.wheelSize}}</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

<div mdbModal #statusModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mystatusModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="statusModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">sjekk status på</h4>
            </div>
            <div class="modal-body">
                {{eqipment}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="statusModal.hide()" mdbWavesEffect>Lukk</button>
            </div>
        </div>
    </div>
</div>


            
                                    